/* ============================
   9) TOAST NOTIFICATIONS
============================ */
.toast {
  position: fixed;
  bottom: 20px;
  left: 50vw;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  background: #4caf50;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease-out;
  /* Slide-in animation */
  z-index: 2000;
}

.toast.success {
  background: #4caf50;
}

.toast.error {
  background: #f44336;
}

.toast::backdrop {
  background: transparent;
}

.toast-content {
  margin: 0;
  font-size: 1rem;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}